.div-main{
    max-width: 100%;
    min-height: 100vh;
    background-image: url("../assets/landing-new.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    margin-left: 0;
    }